#navbar {
    height: 200px;
}

#logo {
    width: 250px;
}

#boton-play {
    color: black;
}

#boton-play:hover {
    color: blueviolet;
}

#instagram {
    background-color: #ac2bac;
}

#scloud {
    background-color: #F26F23;
}

#spotify {
    background-color: #1DB954;
}

#flork {
    width: 400px;
}

.titulos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    font-weight: bold;
}